# Gradle
.gradle/
build/
**/build/

# Android
local.properties
*.apk
*.aab

# IntelliJ / Android Studio
.idea/
*.iml

# Kotlin/Native
konan/
*.klib

# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
Pods/
*.framework

# macOS
.DS_Store
